@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;500&display=swap');


body{
    font-family: 'Oswald', sans-serif;
}
/* #cards,.card, .poster ,.title,.price , .rate, .buy{
    border: 1px solid red;
} */
#cards{
    width: 1000px;
    height: 800px;
    margin: 50px auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    
}
.card{
    width: 300px;
    height: 675px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-content: flex-start;
    position: relative;
}
.poster{
    width: 280px;
    height: 420px;
    margin-top: 10px;
}
.title{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    width: 280px;
    height: 75px;
    font-family: 'Oswald', sans-serif;
    font-size: 30px;
    color: rgb(97,97,97);
    line-height: 0.9;
    font-weight: 500;
}
.price{
    width: 280px;
    height: 45px;
    display: flex;
    justify-content: space-evenly;
}
.price div{
    display: flex;
    align-items: center;
}
.price div:nth-child(1){
    color: rgb(36,35,35);
    font-size: 30px;
    font-weight: 500;
}
.price div:nth-child(2){
    color: rgb(134,130,130);
    font-size: 19px;
    font-weight: 500;
    text-decoration: line-through;
}
.rate{
    display: flex;
    width: 280px;
    height: 40px;
    align-items: center;
    justify-content: center;
}


.buy{
    width: 280px;
    height: 75px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.device-block,.action-block{
    position: absolute;
}
.device-block{
    display: block;
    top:150px;
}
.action-block{
display: block;
}